.slidebut{
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    padding-left: 60px;
    position: relative;
    transform: translateZ(0px);
    transition: all 0.5s ease 0s;
}
.slidebut:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 100% 50% 0;
    transition: all 0.5s ease-out 0s;
}
.slidebut:hover:after{
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.slidebut span{
    width: 40px;
    height: 100%;
    line-height: 40px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s linear 0s;
}
.slidebut span:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: -6px;
    bottom: 0;
    transform: rotate(45deg);
    transition: all 0.3s linear 0s;
}
.slidebut.btn-sm{
    /*padding-left: 40px;*/
    padding-left: 130px;
}
.slidebut.btn-sm span{
    /*width: 27px;*/
    width: 117px;
    line-height: 27px;
}
.slidebut.btn-sm span:after{
    width: 8px;
    height: 8px;
    right: -5px;
}
.slidebut.btn-xs{
    padding-left: 30px;
}
.slidebut.btn-xs span{
    width: 20px;
    line-height: 20px;
}
.slidebut.btn-xs span:after{
    width: 7px;
    height: 7px;
    right: -4px;
}
.slidebut.red{
    border: 1px solid #fe6d6d;
    background: #fe6d6d;
}
.slidebut.red:hover,
.slidebut.red span{
    color: #fe6d6d;
}
.slidebut.red:hover span,
.slidebut.red:hover span:after{
    background: #fe6d6d;
}
.slidebut.blue{
    border: 1px solid #3bb4e5;
    background: #3bb4e5;
}
.slidebut.blue:hover,
.slidebut.blue span{
    color: #3bb4e5;
}
.slidebut.blue:hover span,
.slidebut.blue:hover span:after{
    background: #3bb4e5;
}
.slidebut.orange{
    border: 1px solid #ee955b;
    background: #ee955b;
}
.slidebut.orange:hover,
.slidebut.orange span{
    color: #ee955b;
}
.slidebut.orange:hover span,
.slidebut.orange:hover span:after{
    background: #ee955b;
}
.slidebut.green{
    border: 1px solid #79d799;
    background: #79d799;
}
.slidebut.green:hover,
.slidebut.green span{
    color: #79d799;
}
.slidebut.green:hover span,
.slidebut.green:hover span:after{
    background: #79d799;
}
.slidebut:hover span{
    color: #fff;
}
@media only screen and (max-width: 767px){
    .btn{ margin-bottom: 20px; }
}